{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Contact Us
{% endblock %}
{% block body %}
<center>
    <div class="grid-container">
  <div2>
     <h1><font color="#366092">Contact Us</font></h1><br><br><br>
      <a href="https://www.facebook.com/profile.php?id=100083808180783"><img src="{% static 'myapp/images/facebook.jpg'%}"></a>
      <br><br>
      <a href="https://www.instagram.com/thanalhouserentals/"><img src="{% static 'myapp/images/insatgram1.png'%}" height="140px" width="380px"></a>
      <br><br>
      <a href="https://twitter.com/Thanal88798387"><img src="{% static 'myapp/images/twitter.jpg'%}" height="110px" width="380px"></a>
      <br><br><br>
        <a href="#"><img src="{% static 'myapp/images/youtube1.png'%}" height="120px" width="350px"></a>


  </div2>
</center>
{% endblock %}
